---
import { Image } from "astro:assets";
import Icon from "@components/Icon.astro";
import Pill from "@components/Pill.astro";
import Heading from "@components/Heading.astro";
import LinkButton from "./LinkButton.astro";

interface Props {
  title: string;
  subtitle: string;
  description: string;
  link: string;
  image: {
    class?: string;
    src: ImageMetadata;
    alt: string;
  };
  technologies: string[];
}

const { title, subtitle, description, link, image, technologies } = Astro.props;
---

<article class="grid grid-cols-12">
  <div class="col-span-10">
    <Heading tag="h4">{title}</Heading>
    <Heading mb="2" tag="h5" className="text-gray-500">{subtitle}</Heading>
    <p>{description}</p>
    <div class="flex flex-wrap mt-4 mb-6 gap-x-4 gap-y-2">
      {
        technologies.map((technology) => (
          <Pill class="mr-2 mb-2" key={technology}>
            {technology}
          </Pill>
        ))
      }
    </div>
  </div>
  <div class="m-auto col-span-2"></div>
</article>
