---
import { Image, type LocalImageProps } from "astro:assets";
import Icon from "./Icon.astro";

interface Props {
  title: string;
  subtitle: string;
  description: string;
  link: string;
  image: {
    class?: string;
    src: LocalImageProps;
    alt: string;
  };
  links: {
    icon: string;
    link: string;
  }[];
}

const { title, subtitle, description, link, image, links } = Astro.props;
---

<div
  class="items-stretch sm:grid sm:grid-cols-3 bg-gray-50 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <a
    class={`h-48 sm:h-auto col-span-1 flex items-center justify-center rounded-lg ${
      image.class || ""
    }`}
    href={link}
  >
    <Image class="p-2 lg:p-4" src={image.src} alt={image.alt} height={180} />
  </a>
  <div class="col-span-2 p-5">
    <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
      <a href={link}>{title}</a>
    </h3>
    <span class="text-gray-500 dark:text-gray-400">{subtitle}</span>
    <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">
      {description}
    </p>
    <ul class="flex space-x-4 sm:mt-0">
      {
        links.map(({ icon, link }) => (
          <li>
            <a
              target="_blank"
              href={link}
              class="text-gray-500 hover:text-gray-900 dark:hover:text-white"
            >
              <Icon name={icon} class="w-5 h-5" />
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
