---
import type { Milestone, MilestoneType } from "@components/Milestones.astro";
import Icon from "@components/Icon.astro";
import Heading from "@components/Heading.astro";

type Props = Milestone;

const STEP_TYPE: { [key in MilestoneType]: string } = {
  job: "briefcase",
  certification: "certificate",
};

const { type, title, organisation, year, description, technologies } =
  Astro.props;
---

<article class="milestone flex gap-5 max-w-screen-md">
  <div
    class="milestone-icon relative after:bg-primary-500 after:dark:bg-primary-100"
  >
    <div
      class="flex justify-center items-center self-start rounded-full bg-primary-100 min-h-[48px] min-w-[48px]"
    >
      <Icon name={STEP_TYPE[type]} class="text-primary-600" />
    </div>
  </div>
  <div class="py-1">
    <Heading tag="h5" className="mb-1">{title}</Heading>
    <div class="font-light text-gray-600 dark:text-gray-200 mb-4">
      {year} | {organisation}
    </div>
    <p class="text-gray-500 dark:text-gray-400">
      {description}
    </p>
  </div>
</article>

<style>
  .milestone:not(:last-of-type) .milestone-icon::after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: calc(100% + 2rem);
    left: 50%;
  }
</style>
