---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Pill from "./Pill.astro";
import Icon from "./Icon.astro";

interface Props {
  title: string;
  subtitle: string;
  image: {
    alt: string;
    src: ImageMetadata;
    class?: string;
  };
  description: string;
  technologies: string[];
  link: string;
}

const { title, subtitle, image, description, technologies, link } = Astro.props;
---

<Layout
  title={`Victor Carpio | Freelance Fullstack Developer - Projects - ${title}`}
>
  <section class="px-6 py-8 bg-gray-50 dark:bg-gray-700">
    <div class="grid max-w-screen-xl mx-auto sm:grid-cols-12 gap-6">
      <div class="flex align-center w-full md:mt-0 sm:col-span-5 mx-auto">
        <Image
          class={`h-80 w-full px-4 py-8 rounded-lg ${image.class || ""}`}
          src={image.src}
          alt={image.alt}
        />
      </div>
      <div class="py-1 mr-auto w-full place-self-center sm:col-span-7">
        <h1
          class="max-w-2xl mb-2 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white"
        >
          {title}
        </h1>
        <p
          class="max-w-xl mb-6 font-light text-gray-500 md:text-md lg:text-lg dark:text-gray-400"
        >
          {subtitle}
        </p>
        <p
          class="max-w-2xl mb-6 font-light text-gray-500 md:text-lg lg:text-xl dark:text-gray-400"
        >
          {description}
        </p>
        <p class="flex justify-stretch flex-wrap mb-9 gap-2">
          {technologies.map((technology) => <Pill>{technology}</Pill>)}
        </p>

        <a
          target="_blank"
          href={link}
          class="w-full inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900"
        >
          View demo app
          <Icon name="arrow-right" />
        </a>
      </div>
    </div>
  </section>
</Layout>
